*{
	margin: 0;
	padding: 0;
}

main{
    background: linear-gradient(45deg,rgba(191, 27, 27, 1) 6%, rgba(230, 129, 129, 1) 92%);
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}


li{
	margin-left: 5%;
}


hr{
	height: 1vh;
	margin-top: 5%;
	background-color: red;
	border-radius: 50%;
}

img{
	max-width: 70px;
	max-height: 70px;
	width: auto;
	height: auto;
	border-radius: 50%;
	object-fit: contain;
	display: block;
	margin: 0 auto;
}
button {
    width: 110%;
    height: 3.5vh;
    background-image: linear-gradient(45deg,rgba(42, 123, 155, 1) 0%, rgba(72, 212, 202, 1) 25%, rgba(62, 158, 145, 1) 0%, rgba(87, 111, 199, 1) 67%, rgba(232, 30, 30, 1) 100%);
    color: black;
    border-radius: 5%;
	box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px, 0 0 30px black;
}

.titulo {
	width: 90%;
	max-width: 90%;
	height: 25vh;
	background-color: red;
	margin-top: 5%;
	padding: 2%;
	border-radius: 10%.0;
	display: grid;
	row-gap: 5%;
	justify-content: center;
}

.corpo{
	width: 90%;
	max-width: 90%;
	height: 60vh;
	max-height: 60vh;
	background-color: blue;
	display: grid;
	justify-content: center;
	margin-bottom: 5%;
}

.elipse{
	display: flex;
	justify-content: center;
	align-content: center;
	width: 90%;
	max-width: 90%;
	height: 25vh;
	max-height: 25vh;
	margin-top: 1%;
	background-color: blue;
	border-radius: 50%;
	border: 5px outset red;
}

.literalmente{
	width: 20%;
	max-width: 20%;
	height: 15vh;
	max-height: 10vh;
	
}

.literalmente{
  width: 100px;
  height: 100px;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  border:5px inset black;
  border-radius:50%;
  background-color:white;
  padding: 10px;
}
#placar{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 30%;
  height: 8vh;
  max-height: 8vh;
  background-color: hotpink;
  color: black;
  border: 5px inset white;
  font-family: arial;
  border-radius: 15%;
  margin: 0 auto;
}